.radio-container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 25px;
  }
  
  /* Hide the default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* custom radio button */
  .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border-radius: 50%;
    transition-duration: 0.2s;
  }
  
  
  

  
  .check:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .check:after {
    display: block;
  }
  
  .radio-container .check::after {
       top: 7px;
      left: 7px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
  }


  .radio-container-small > .check {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;

  }

  .radio-container-small > .check::after{
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
  }
  .radio-container-small {
    font-size: 16px;

  }