.slidecontainer {
  width: 100%;
}

.sliderRange {
  -webkit-appearance: none;
  width: 400px;
  height: 12px;
  border-radius: 5px;
  background: black;
  outline: none;

  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderRange:hover {
  opacity: 1;
}

.sliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  border: 3px solid #4700AB ;
  cursor: pointer;
}



.sliderRange::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid #4700AB ;
  background: white;
  cursor: pointer;
}

.value-div{
  width: 364px;
  margin-bottom: 6px;
}

#value-span{
  position: relative;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: #4700AB;
  font-size: 12px;
  color: white;
  margin-left: -3px;
}

#value-span::after {
  content: "";
  position: absolute;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #4700AB;
  bottom: -5px;
}

